{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="text-center mt-5">
  <h1>Welcome to the Landing Page</h1>
  <div class="container mt-4">
    <p>
      This project allows you to upload large files effortlessly. Once uploaded,
      the files are processed asynchronously in the background and added to our
      database. Additionally, you can filter and view data based on specific
      criteria through our dedicated page. You can also view a list of all users
      in the system. The application is built using Flask, Python, Celery, and
      PostgreSQL, with Redis serving as the message broker.
    </p>
  </div>
  <p>
    <a class="btn btn-success" href="{{ url_for('login') }}" role="button"
      >Log In</a
    >
    <a class="btn btn-secondary" href="{{ url_for('signup') }}" role="button"
      >Sign Up</a
    >
  </p>
</div>
{% endblock %}
